.App {
  text-align: center;
}
.parent{
  display:grid;
  grid-template-columns: 2fr 1fr;
  width:100%;
  height:auto;
}
.parent1 {
  grid-column: 1 / 2;
}
.parent2 {
  grid-column: 2 / 3;
  height:auto;
}
.Datafetch{
  text-align: center;
  justify-content: center;
  justify-items: center;
  align-items: center;
  margin: 0 auto;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}


.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
